DATABASE_URI=
PAYLOAD_SECRET=
NEXT_PUBLIC_SERVER_URL=https://brianwells.org

R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_PUBLIC_URL=

RESEND_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

IP_HASH_SALT=
